@{
	ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
	<div class="row justifiy-content-center">

		<!-- Card for Productores -->
		<div class="col-md-4 mb-4">
			<div class="card text-center shadow">
				<div class="card-body">
					<h5 class="card-title">Productores</h5>
					<p class="card-text">Gestiona los productores del sistema.</p>
					<a href="@Url.Action( "Index", "Productores" )" class="btn btn-primary">Ir a Productores</a>
				</div>
			</div>
		</div>
			
			<!-- Card for Fincas -->
		<div class="col-md-4 mb-4">
			<div class="card text-center shadow">
				<div class="card-body">
					<h5 class="card-title">Fincas</h5>
					<p class="card-text">Gestiona las fincas del sistema.</p>
					<a href="@Url.Action( "Index", "Fincas" )" class="btn btn-primary">Ir a Fincas</a>
				</div>
			</div>
		</div>
	</div>
</div>
